__pycache__/
*.py[cod]
*$py.class

.venv/
env/
venv/

build/
dist/
*.egg-info/

.mypy_cache/
.pytest_cache/
.coverage

.vscode/
.idea/

.ipynb_checkpoints/
.DS_Store

.env
.env.*
rolling_store.csv
rolling_store.db
